<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    form
    <form action="/login" method="post">
      <input name="username" type="text" required>
      <input name="password" type="password" required>
      <input type="submit">
    </form>
  </body>
</html>